$header_black:rgba(26,26,26,0.9);

$dark_blue:#0a2447;
$dark_blue2:#275591;
$dark_blue3:#0e2f5a;
$dark_blue_opcity:#1d2e44d2;
$bright_blue:#004caf;
$bright_blue2:#4e82c5;
$bright_blue3:#57bcff;
$bright_blue4:#5891db;
$blue_layer:#081322e7;
$blue_layer2:#17294480;

$dark_red:#c92121c7;
$bright_red:#ff2b2bc7;

$dark_green:#27af15;
$bright_green:#2cca17;
$bright_purple:#6a0891;

$text_white:#f5f9ff;
$text_grey:#a1a1a1;
$dark_grey:#c5cdd4;
$dark_grey2:#696969;
$home_backgroud:#d3d3d3;

$linear_black_1:#adadad0c;
$linear_black_2:#05050575;
$linear_black_1_hover:#83838375;
$linear_black_2_hover:#111111b2;
